body{
  background-image: url("http://pre01.deviantart.net/f737/th/pre/f/2017/015/7/1/2017_movie_posters_by_the_dark_mamba_995-datz3gl.jpg");
}
#logo{
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;
}
#title{
  margin: auto;
}
.box{
  border: 2px black solid;
  width: 50%;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  /*background-color: #ffffff;*/
  /*opacity: 0.6;*/
  /*filter: alpha(opacity=60);
  z-index: 0;*/
}

.box-style{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  /*height: 100%;
  width: 100%;*/
}

.text-opacity{
  color: rgba(0, 0, 0, 1);
}

/*.collapsable-info {
  margin-top: -100%;
}*/

#section{
  display: flex; /*Always needed for flex positioning*/
  justify-content: center;
}
