<!Doctype html>
<html>
  <head>
    <title>Saved Movies</title>
    <link rel="stylesheet" href="saved-movies.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <section id="top">
      <a href="/"><img id="logo" src="https://cdn3.iconfinder.com/data/icons/multimedia/100/play_movie_3-512.png"></a>
    </section>
    <br>
    <br>
    <section id="section">
      <div class = "box">
        <div class= "box-style"></div>
        <div class="text-opacity">
          <center><h1 id="title">Your Saved Movies</h1></center>
          <br>
          <p>Here are movies that you saved and would like to see later!</p>
    <!-- <form id="button" method="post">
      <button type="submit" class="btn btn-primary btn-lg">Search -></button> -->

      <!-- <div class="alert alert-danger" role="alert"> Alert Message
        <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
      </div> -->
        </div>
        </div>
      </div>
    </section>
    <!-- </form> -->
  </body>
</html>
